*.{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 5px solid green; */
}
.jumbotron {
  margin: 5% auto;
  margin-left: 43%;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
}